.keyFacts {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 25px;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.keyFacts > h3 {
  font-weight: 600;
}

.keyFacts > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

.keyFacts > ul > li {
  font-size: 0.89em;
  list-style-type: none;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.keyFacts > ul > li > span {
  font-weight: bolder;
  color: #4d4d4d;
}