.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* To override user agent stylesheets */
body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}