.pageTitle {
  font-size: 36px;
  font-weight: 500;
  margin: 62px 0;
  border-left: 3px solid #ffc814;
  padding-left: 10px;
  line-height: 0.7em;
  letter-spacing: -0.02em;
}

.pageTitle > span {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffc814;
  letter-spacing: 2px;
  vertical-align: top;
}