.formRow {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 10px 0;
}

.formRow > select {
  padding: 10px;
  border-radius: 4px;
}

.labelTitle {
  margin-bottom: 5px;
  padding: 10px 0;
  border-top: 1px solid #071702;
  width: 100%;
}