.banner {
  background-image: url("./images/hiking-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}

.presentation {
  width: 70%;
  margin-top: 25px;
  font-size: 1.125em;  
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
}