.description {
  width: 50%;
  padding-right: 2em;
}

.description > h3 {
  font-weight: 600;
}

.description > p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.description > p > a {
  text-decoration: none;
  color: #b3003b;
}

.description > p > a:hover {
  border-bottom: 1px solid #b3003b;
}