.detailContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.detailTextMapContainer {
  max-width: 1000px;
  margin: 75px 0 50px;
  padding: 10px;
  display: flex;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
