.list > h2 {
  font-size: 2em;
  margin: 0 0 25px 5px;
}

.list > ul > a {
  text-decoration: none;
}

.list > ul > a > li {
  list-style-type: none;
  color: #262626;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.list > ul > a > li:hover {
  border: 2px solid #b3003b;
  -webkit-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.3);
}
