.title {
  margin-bottom: 1em;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: -0.03em;
  text-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.intro {
  font-size: 24px;
  color: #ffffff;
  letter-spacing: -0.03em;
}